<template>
  <div>
    <h1 class="text-center mt-8 font-bold text-7xl ">Cadastrar Cerveja</h1>
    <div class="max-w-lg flex justify-center mt-16 flex-col m-auto items-stretch">
      <form>
        <v-text-field class="mt-8 " v-model="name" :rules="rules"  label="Nome da Cerveja" required></v-text-field>
        <v-text-field class="mt-8 " v-model="brand" :rules="rules" label="Marca da Cerveja" required></v-text-field>

      </form>
      <v-btn class="p-2 ml-2 mt-6 " @click="save">
        Salvar
      </v-btn>
    </div>
  </div>
</template>
<script>
import axios from "axios";


export default {
  data: () => ({
    name: "",
    brand: "",
    rules: [
        value => !!value || 'Campo obrigatorio',
        value => (value && value.length >= 3) || 'Minimo 3 caracteres',
      ],
  }),

  methods: {
    save() {
      const formData = new FormData();

      formData.append("name", this.name);
      formData.append("brand", this.brand);
      axios
        .post("http://localhost:8000/api/beer", formData)
        .then((response) => response.date, location.reload())
        .catch((error) => {
          console.log(error);
        });
    }
  },
}
</script>
