<template>
  <div
    class="max-w-lg flex justify-center flex-col h-screen m-auto items-stretch"
  >
    <form>
      <div class="rounded-md p-2 ml-2">
        <v-text-field
          class=""
          v-model="name"
          :error-messages="nameErrors"
          label="Nome"
          required
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="nickName"
          :error-messages="nickNameErrors"
          label="Apelido"
          required
          @input="$v.nickName.$touch()"
          @blur="$v.nickName.$touch()"
        ></v-text-field>

        <div data-app>
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                hint="Formato DD/MM/YYYY"
                persistent-hint
                v-model="computedDateFormatted"
                :error-messages="dateErrors"
                label="Data de Nascimento"
                v-bind="attrs"
                v-on="on"
                @input="$v.computedDateFormatted.$touch()"
                @blur="$v.computedDateFormatted.$touch()"
                readonly
                required
              >
              </v-text-field>
            </template>

            <v-date-picker
              v-model="date"
              locale="pt-br"
              no-title
              @input="menu2 = false"
            >
            </v-date-picker>
          </v-menu>
          <v-text-field
            class=""
            v-model="email"
            :error-messages="emailErrors"
            label="E-mail"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          ></v-text-field>
        </div>

        <v-text-field
          class="mt-2"
          :class="{ 'form-group--error': $v.password.$error }"
          v-model="password"
          :error-messages="passErrors"
          required
          @input="$v.password.$touch()"
          @blur="$v.password.$touch()"
          v-model.trim="$v.password.$model"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show1 ? 'text' : 'password'"
          label="Senha"
          counter
          @click:append="show1 = !show1"
        >
        </v-text-field>

        <v-text-field
          class="mt-2"
          :class="{ 'form-group--error': $v.repeatPassword.$error }"
          v-model="repeatPassword"
          :error-messages="repeatPassErrors"
          required
          @input="$v.password.$touch()"
          @blur="$v.repeatPassword.$touch()"
          v-model.trim="$v.repeatPassword.$model"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show1 ? 'text' : 'password'"
          label="Confimar senha"
          counter
          @click:append="show1 = !show1"
        >
        </v-text-field>

        <div class="text-red-600 mt-3" v-if="!$v.repeatPassword.sameAsPassword">
          Para confirmar as senhas devem ser identicas.
        </div>
      </div>
      <div class="grid grid-cols-1">
        <v-btn class="p-2 ml-2" @click="save"> Cadastrar </v-btn>
      </div>
    </form>

    <p class="mt-2">
      Você já tem uma conta?
      <a
        href="/login"
        target="_blank"
        rel="noopener noreferrer"
        class="text-sky-900"
        >Fazer login</a
      >
    </p>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import * as moment from "moment";
import {
  required,
  maxLength,
  sameAs,
  email,
  minLength,
  maxValue,
} from "vuelidate/lib/validators";
import axios from "axios";

export default {
  data: () => ({
    name: "",
    nickName: "",
    email: "",
    password: "",
    repeatPassword: "",
    show1: false,
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    menu2: false,
    date: "",
  }),

  mounted() {},

  mixins: [validationMixin],
  name: "Cadastro",
  validations: {
    name: { required, maxLength: maxLength(150), minLength: minLength(3) },
    nickName: { required, maxLength: maxLength(20) },
    email: { required, email },
    password: { required, minLength: minLength(8) },
    repeatPassword: {
      required,
      minLength: minLength(8),
      sameAsPassword: sameAs("password"),
    },
    computedDateFormatted: {
      required,
      maxValue: (value) => {
        const dateValue = moment(value, "DD/MM/YYYY").toDate();
        return maxValue(moment().subtract(18, "years").toDate())(dateValue);
      },
    },
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.required && errors.push("Campo obrigatorio");
      !this.$v.email.email && errors.push("E-mail deve ser valido");
      return errors;
    },
    passErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Campo obrigatorio");
      !this.$v.password.minLength && errors.push("Mínimo 8 Caracteres");
      return errors;
    },
    repeatPassErrors() {
      const errors = [];
      if (!this.$v.repeatPassword.$dirty) return errors;
      !this.$v.repeatPassword.required && errors.push("Campo obrigatorio");
      !this.$v.repeatPassword.minLength && errors.push("Mínimo 8 Caracteres");
      return errors;
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Campo obrigatorio");
      !this.$v.name.minLength && errors.push("Minimo 3 Caracteres");
      !this.$v.name.maxLength && errors.push("Maximo 150 Caracteres");
      return errors;
    },
    nickNameErrors() {
      const errors = [];
      if (!this.$v.nickName.$dirty) return errors;
      !this.$v.nickName.required && errors.push("Campo obrigatorio");
      !this.$v.nickName.maxLength && errors.push("Maximo 20 Caracteres");
      return errors;
    },
    dateErrors() {
      const errors = [];
      if (!this.$v.computedDateFormatted.$dirty) return errors;
      !this.$v.computedDateFormatted.required &&
        errors.push("Campo obrigatorio");
      !this.$v.computedDateFormatted.maxValue &&
        errors.push("Necessario idade maior de 18 anos");
      return errors;
    },
  },

  methods: {
    save() {
      const formData = new FormData();

      formData.append("name", this.name);
      formData.append("birth_date", this.date);
      formData.append("nick_name", this.nickName);
      formData.append("email", this.email);
      formData.append("password", this.password);

      axios
        .post("http://localhost:8000/api/usuario/cadastro", formData)
        .then((response) => response.date)
        .catch((error) => {
          console.log(error);
        });
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
  },
  components: {},
};
</script>
