<template>
  <div class="max-w-lg flex justify-center flex-col h-screen m-auto items-stretch">
    <form>
      <div class="rounded-md p-2 ml-2 ">
        <v-text-field class="" v-model="email" :error-messages="emailErrors" label="E-mail" required
          @input="$v.email.$touch()" @blur="$v.email.$touch()" name="input-10-1"></v-text-field>

        <v-text-field class="mt-2" v-model="password" :error-messages="passErrors" required
          @input="$v.password.$touch()" @blur="$v.password.$touch()" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show1 ? 'text' : 'password'" label="Senha" counter @click:append="show1 = !show1">
        </v-text-field>
      </div>
    </form>
    <v-btn class="p-2 ml-2" @click="submit">
      Login
    </v-btn>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'Login',
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(150) },
    email: { required, email },
    password: { required, minLength: minLength(8) },
  },

  data: () => ({
    email: '',
    password: '',
    show1: false,
  }),

  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('E-mail deve ser valido')
      !this.$v.email.required && errors.push('Campo obrigatorio')
      console.log(this.$v.password.$error)
      return errors
    },
    passErrors() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength && errors.push('Mínimo 8 Caracteres')
      !this.$v.password.required && errors.push('Campo obrigatorio')
      return errors
    }
  },
  methods: {
    submit() {
      this.$v.$touch()
    },

  },
}

</script>
