<template>
  <div>
    <h1 class="text-center mt-8 font-bold text-7xl">Avaliação de Cerveja</h1>
    <div class="flex justify-center mt-20 min-h-full">
      <div class="flex flex-col max-w-[20%] items-center">
        <v-autocomplete v-model="value" :items="items" label="Nome da Cerveja" class="nameBeer"></v-autocomplete>
        <v-container>
          <v-img src="https://picsum.photos/350/165?random" height="300" class="grey darken-4"></v-img>
        </v-container>
      </div>

      <div class="flex flex-col max-w-[35%] justify-center min-w-[250px] ml-32">
        <div class=" min-w-[210px] ">
          <h1 class="font-sans font-bold text-2xl leading-none text-left inline">
            Nome da Cerveja:
          </h1>
          <span class="block"> {{ value }}</span>

        </div>
        <div class="flex flex-col ">
          <v-select :items="states" label="Estado"></v-select>
          <div>
            <span class="inline">
              Nota: ({{ rating }})
            </span>
            <v-rating v-model="rating" background-color="orange" color="yellow accent-4" dense half-increments hover
              class="rating" size="25"></v-rating>
          </div>

          <v-text-field class="" label="Valor R$" required @input="$v.value.$touch()" @blur="$v.value.$touch()">
          </v-text-field>
          <v-textarea solo name="input-7-4" label="Descrição"></v-textarea>
        </div>

      </div>
    </div>
    <div class="flex flex-col justify-center items-center mt-8">
      <v-btn color="orange white--text" light>
        Salvar Avaliação
      </v-btn>
    </div>
  </div>
</template>

<script>

export default {
  data: () => ({
    items: ['Brahma Larger',
      'Sub-Zero',
      'Skol',
      'Conti-Zero',
      'Bohemian Pilsen',
      'Budweiser Lager',
      'Caracu Sweet Stout',
      'Colorado Appia Sleek',
      'Corona Pilsen',
      'Conti Pilsen',
      'Brahma Dublo malter',
      'Skol Puro Malte',
      'Serrane Larger',
      'Artartica Original',],
    states: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 
    'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO',],
    rating: 0,
    value: '',


  }),
}
</script>

<style>
.nameBeer {
  width: 250px;
}

.rating {
  display: inline;
}
</style>