<template>
    <div class="cadastro">
      <Cadastro/>
    </div>
  </template>
  
  <script>
  import Cadastro from '@/components/Cadastro.vue'
  
  export default {
    name: 'CadastroView',
    components: {
      Cadastro
    }
  }
  </script>

  

