<template>
  <div class="cadastroCerveja">
    <CadastroCerveja/>
  </div>
</template>

<script>
import CadastroCerveja from '@/components/CadastroCerveja.vue'

export default {
  name: 'CadastroCervejaView',
  components: {
    CadastroCerveja
  }
}
</script>
