<template>
    <div class="">
      <Ranqueamento/>
    </div>
  </template>
  
  <script>
  import Ranqueamento from '@/components/Ranqueamento.vue'
  
  export default {
    name: 'RanqueamentoView',
    components: {
      Ranqueamento
    }
  }
  </script>

  

