<template>
  <div class="SelecionaCerveja">
    <SelecionaCerveja />
  </div>
</template>

<script>
import SelecionaCerveja from '@/components/SelecionaCerveja.vue'


export default {
  name: 'SelecionaCervejaView',
  components: {
    SelecionaCerveja
  }
}
</script>

